# Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read instagram
insta = pd.read_csv('./Clean_Data/merged_instagram_data_cleaned.csv')

# read tiktok
tiktok = pd.read_csv('./Clean_Data/merged_tiktok_data_cleaned.csv')

# read youtube
youtube = pd.read_csv('./Clean_Data/merged_youtube_data_cleaned.csv')

In [3]:
insta

,sno,instagram_name,name,subscribers,audience_country,authentic_engagement,engagement_average,category_1,category_2,influencer_insta_name,...,engagement_avg,rank,eng_(auth),eng_(avg),country,influencer_name,subscribers_count,views_avg,likes_avg,comments_avg
0,1.0,cristiano,Cristiano Ronaldo,0,India,5M,6.2M,Sports with a ball,Unknown,NaN,...,NaN,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,kyliejenner,Kylie ü§ç,0,United States,3.5M,5.5M,Fashion,Modeling,NaN,...,NaN,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,arianagrande,Ariana Grande,0,United States,2.9M,4M,Unknown,Unknown,NaN,...,NaN,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,leomessi,Leo Messi,0,Indonesia,2.7M,3.5M,Sports with a ball,Family,NaN,...,NaN,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,zendaya,Zendaya,0,United States,4.3M,5.8M,Cinema & Actors/actresses,Fashion,NaN,...,NaN,499.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4928,512.5,zendaya,NaN,0,NaN,NaN,NaN,Cinema & Actors/actresses,Fashion,NaN,...,NaN,499.0,NaN,NaN,NaN,Zendaya,146.3M,United States,6.3M,8.5M
4929,512.5,zidane,NaN,0,NaN,NaN,NaN,Sports with a ball,Unknown,NaN,...,NaN,499.0,NaN,NaN,NaN,zidane,33M,Spain,412.4K,560.8K
4930,512.5,zkdlin,NaN,0,NaN,NaN,NaN,Music,Unknown,NaN,...,NaN,499.0,NaN,NaN,NaN,KAI,14.1M,Indonesia,1.4M,1.7M
4931,512.5,zo,NaN,0,NaN,NaN,NaN,Sports with a ball,Unknown,NaN,...,NaN,499.0,NaN,NaN,NaN,Lonzo Ball,14M,United States,145.8K,262K
4932,512.5,zoeisabellakravitz,NaN,0,NaN,NaN,NaN,Cinema & Actors/actresses,Unknown,NaN,...,NaN,499.0,NaN,NaN,NaN,ZoeÃà Kravitz,8.5M,United States,342.4K,519.3K

In [4]:
tiktok

,sno,tiktoker_name,tiktok_name,subscribers,views_avg,likes_avg,comments_avg,shares_avg,subscribers_count,rank,...,likes_average,comments_average,shares_average,row-cell,followers,views_(avg),likes_(avg),comments_(avg),shares_(avg),influencer_name
0,1.0,jypestraykids,Stray Kids,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,500.5,NaN,0.0,0.0,0.0,0.0,Unknown
1,2.0,khaby.lame,Khabane lame,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,500.5,NaN,0.0,0.0,0.0,0.0,Unknown
2,3.0,scarlettsspam2,scarlett,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,500.5,NaN,0.0,0.0,0.0,0.0,Unknown
3,4.0,addisonre,Addison Rae,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,500.5,NaN,0.0,0.0,0.0,0.0,Unknown
4,5.0,belindatok,Belinda,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,500.5,NaN,0.0,0.0,0.0,0.0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,500.0,nathanmccarron0,Nathan‚Äôs Art,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,996.0,1.6M,0.0,0.0,0.0,0.0,Unknown
3982,500.0,lacha21.1,Lazaro Gonzalez,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,997.0,669.4K,0.0,0.0,655.0,0.0,Unknown
3983,500.0,hyoga.x,Hyoga,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,998.0,552K,0.0,0.0,0.0,727.0,Unknown
3984,500.0,rrqr7tatsumaki,Rivaldi Fataah,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,999.0,1.1M,0.0,0.0,0.0,414.0,Unknown
3985,500.0,_catben_,Catherine Benson,0,0.0,0.0,0.0,0.0,NaN,500.5,...,NaN,NaN,NaN,1000.0,10.9M,0.0,0.0,665.0,318.0,Unknown

In [5]:
youtube

,sno,name,youtuber_name,audience_country,subscribers,category_2,avg_views,avg_likes,avg_comments,category_3,...,youtube_channel,category_1,country,views_(avg),likes_(avg),comments_(avg),subscribers_count,views_avg,likes_avg,comments_avg
0,1.0,NaN,T-Series,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,tseries,Music & Dance,India,0.0,0.0,158.0,NaN,0.0,0.0,0.0
1,2.0,NaN,SET India,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,setindia,Unknown,India,0.0,0.0,0.0,NaN,0.0,0.0,0.0
2,3.0,NaN,Cocomelon - Nursery Rhymes,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,checkgate,Education,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0
3,4.0,NaN,MrBeast,Unknown,0,Humor,0.0,0.0,0.0,Unknown,...,MrBeast,Video games,United States,0.0,0.0,0.0,NaN,0.0,0.0,0.0
4,5.0,NaN,PewDiePie,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,PewDiePie,Animation,United States,0.0,0.0,0.0,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,996.0,NaN,RUOK,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,RUOK,Unknown,Brazil,0.0,0.0,0.0,NaN,0.0,0.0,0.0
1968,997.0,NaN,Fox News,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,FoxNewsChannel,News & Politics,United States,0.0,0.0,884.0,NaN,0.0,0.0,0.0
1969,998.0,NaN,SULE PRODUCTIONS,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,SULE PRODUCTIONS,Unknown,Indonesia,0.0,0.0,306.0,NaN,0.0,0.0,0.0
1970,999.0,NaN,MBCkpop,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,MBCkpop,Music & Dance,Malaysia,0.0,0.0,92.0,NaN,0.0,0.0,0.0
1971,1000.0,NaN,Dynamo Gaming,Unknown,0,Unknown,0.0,0.0,0.0,Unknown,...,Dynamo Gaming,Unknown,India,0.0,0.0,125.0,NaN,0.0,0.0,0.0

In [6]:
# --- Analysis for merged_instagram_df ---
print("\n--- Analyzing merged_instagram_df ---")

# Basic Descriptive Statistics
print("\nDescriptive Statistics:")
print(insta.describe(include='all'))

# Top 10 by Subscribers
if 'subscribers' in insta.columns:
    top_10_insta_subscribers = insta.sort_values(by='subscribers', ascending=False).head(10)
    print("\nTop 10 by Subscribers:")
    print(top_10_insta_subscribers[['instagram_name', 'subscribers']].fillna('N/A'))

    plt.figure(figsize=(10, 6))
    sns.barplot(x='subscribers', y=top_10_insta_subscribers['instagram_name'].fillna('N/A'), palette='viridis')
    plt.title('Top 10 Instagram by Subscribers')
    plt.xlabel('Subscribers')
    plt.ylabel('Instagram Name')
    plt.tight_layout()
    plt.show()

# Distribution of Subscribers
if 'subscribers' in insta.columns:
    plt.figure(figsize=(10, 6))
    sns.histplot(insta['subscribers'], bins=50, kde=True)
    plt.title('Distribution of Instagram Subscribers')
    plt.xlabel('Subscribers')
    plt.ylabel('Frequency')
    plt.show()

# Average Engagement
engagement_cols_insta = [col for col in insta.columns if 'engagement' in col]
if engagement_cols_insta:
    print("\nAverage Engagement Metrics:")
    print(insta[engagement_cols_insta].mean())

    plt.figure(figsize=(8, 5))
    insta[engagement_cols_insta].mean().plot(kind='bar')
    plt.title('Average Engagement Metrics on Instagram')
    plt.ylabel('Average Value')
    plt.xticks(rotation=45, ha='right')
    plt.tight_layout()
    plt.show()

# Top Categories (Category 1)
if 'category_1' in insta.columns and insta['category_1'].nunique() > 1:
    top_insta_categories = insta['category_1'].value_counts().nlargest(10)
    print("\nTop 10 Category 1:")
    print(top_insta_categories)

    plt.figure(figsize=(10, 6))
    sns.barplot(x=top_insta_categories.index, y=top_insta_categories.values, palette='plasma')
    plt.title('Top 10 Instagram Category 1')
    plt.xlabel('Category')
    plt.ylabel('Number of Influencers')
    plt.xticks(rotation=45, ha='right')
    plt.tight_layout()
    plt.show()

--- Analyzing merged_instagram_df ---

Descriptive Statistics:
                sno instagram_name     name  subscribers audience_country  \
count   4933.000000           4933     2938       4933.0             1976
unique          NaN           2604     2143          NaN               37
top             NaN     marshmello  davikah          NaN    United States
freq            NaN              6        3          NaN              549
mean     507.665214            NaN      NaN          0.0              NaN
std      182.917452            NaN      NaN          0.0              NaN
min        1.000000            NaN      NaN          0.0              NaN
25%      512.500000            NaN      NaN          0.0              NaN
50%      512.500000            NaN      NaN          0.0              NaN
75%      512.500000            NaN      NaN          0.0              NaN
max     1000.000000            NaN      NaN          0.0              NaN

       authentic_engagement engagement_average                 category_1  \
count                  1979               1000                       4933
unique                 1581                802                         39
top                    1.1M               1.1M  Cinema & Actors/actresses
freq                     30                 33                       1036
mean                    NaN                NaN                        NaN
std                     NaN                NaN                        NaN
min                     NaN                NaN                        NaN
25%                     NaN                NaN                        NaN
50%                     NaN                NaN                        NaN
75%                     NaN                NaN                        NaN
max                     NaN                NaN                        NaN

       category_2 influencer_insta_name  ... engagement_avg         rank  \
count        4933                   979  ...            979  4933.000000
unique         35                   976  ...            765          NaN
top       Unknown                 nobru  ...           1.1M          NaN
freq         3463                     2  ...             27          NaN
mean          NaN                   NaN  ...            NaN   499.295561
std           NaN                   NaN  ...            NaN   128.725274
min           NaN                   NaN  ...            NaN     1.000000
25%           NaN                   NaN  ...            NaN   499.000000
50%           NaN                   NaN  ...            NaN   499.000000
75%           NaN                   NaN  ...            NaN   499.000000
max           NaN                   NaN  ...            NaN  1000.000000

        eng_(auth) eng_(avg)        country   influencer_name  \
count         1959      1959            974               973
unique        1561      1456             33               956
top           1.1M      1.1M  United States  Amitabh Bachchan
freq            34        44            267                 2
mean           NaN       NaN            NaN               NaN
std            NaN       NaN            NaN               NaN
min            NaN       NaN            NaN               NaN
25%            NaN       NaN            NaN               NaN
50%            NaN       NaN            NaN               NaN
75%            NaN       NaN            NaN               NaN
max            NaN       NaN            NaN               NaN

       subscribers_count      views_avg likes_avg comments_avg
count                995            995       995          979
unique               416             37       833          782
top                13.5M  United States      1.2M         1.4M
freq                  12            278        18           24
mean                 NaN            NaN       NaN          NaN
std                  NaN            NaN       NaN          NaN
min                  NaN            NaN       NaN          NaN
25%                  NaN            NaN       NaN          NaN
50%                  NaN            NaN       NaN          NaN
75%                  NaN            NaN       NaN          NaN
max                  NaN            NaN       NaN          NaN

[11 rows x 21 columns]

Top 10 by Subscribers:
          instagram_name  subscribers
0              cristiano            0
3287                MONT            0
3294             Hyun Ah            0
3293         LU√çSA SONZA            0
3292  –•–∞–±–∏–± –ù—É—Ä–º–∞–≥–æ–º–µ–¥–æ–≤            0
3291             HAECHAN            0
3290      Marvel Studios            0
3289                Ibai            0
3288       Madhuri Dixit            0
3286                 Ïú†Ï†ïÏó∞            0

ValueError: Could not interpret value `subscribers` for `x`. Value is a string, but `data` was not passed.

In [ ]:
# # --- Analysis for merged_tiktok_df ---
# if tiktok_df is not None:
#     print("\n--- Analyzing merged_tiktok_df ---")

#     # Basic Descriptive Statistics
#     print("\nDescriptive Statistics:")
#     print(tiktok_df.describe(include='all'))

#     # Top 10 by Subscribers
#     if 'subscribers' in tiktok_df.columns:
#         top_10_tiktok_subscribers = tiktok_df.sort_values(by='subscribers', ascending=False).head(10)
#         print("\nTop 10 by Subscribers:")
#         print(top_10_tiktok_subscribers[['tiktok_name', 'subscribers']].fillna('N/A'))

#         plt.figure(figsize=(10, 6))
#         sns.barplot(x='subscribers', y=top_10_tiktok_subscribers['tiktok_name'].fillna('N/A'), palette='viridis')
#         plt.title('Top 10 TikTok by Subscribers')
#         plt.xlabel('Subscribers')
#         plt.ylabel('TikTok Name')
#         plt.tight_layout()
#         plt.show()

#     # Distribution of Subscribers
#     if 'subscribers' in tiktok_df.columns:
#         plt.figure(figsize=(10, 6))
#         sns.histplot(tiktok_df['subscribers'], bins=50, kde=True)
#         plt.title('Distribution of TikTok Subscribers')
#         plt.xlabel('Subscribers')
#         plt.ylabel('Frequency')
#         plt.show()

#     # Average Engagement
#     engagement_cols_tiktok = [col for col in tiktok_df.columns if 'engagement' in col]
#     if engagement_cols_tiktok:
#         print("\nAverage Engagement Metrics:")
#         print(tiktok_df[engagement_cols_tiktok].mean())

#         plt.figure(figsize=(8, 5))
#         tiktok_df[engagement_cols_tiktok].mean().plot(kind='bar')
#         plt.title('Average Engagement Metrics on TikTok')
#         plt.ylabel('Average Value')
#         plt.xticks(rotation=45, ha='right')
#         plt.tight_layout()
#         plt.show()

#     # Save the cleaned merged data to CSV
#     output_file_tiktok = os.path.join(OUTPUT_DIR, 'cleaned_merged_tiktok.csv')